{:deps {fx/core {:local/root "./modules/fx-core"}}
 :aliases
 {:build {:deps       {io.github.clojure/tools.build
                       {:git/tag "v0.9.2" :git/sha "fe6b140"}
                       slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}